.nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: var(--body_background);
  color: var(--body_color);
  border-bottom: 1px solid var(--grey);
}

.logo-meow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.logo-meow:hover {
  cursor: pointer;
}

.navbar-logo {
  height: 3rem;
}

.title-logo {
  align-self: center;
  color: var(--theme);
  font-size: 1.5rem;
  font-weight: 800;
  margin-left: 0.5rem;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  border: 1px solid var(--grey);
  border-radius: 2rem;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  min-width: 16rem;
}

.search-bar:hover {
  box-shadow: 0 1px 2px rgb(0 0 0 / 12%), 0 4px 12px rgb(0 0 0 / 9%);
  transition: all 0.2s;
  cursor: pointer;
}

.search-bar-text {
  font-size: 1rem;
  font-weight: 600;
  border-right: 1px solid var(--grey);
  padding-right: 0.5rem;
}

.search-bar-text-2 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--font-grey);
  padding-right: 0.5rem;
}

.search-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme);
  padding: 0.15rem;
  border-radius: 50%;
  color: var(--white);
  margin-left: 3rem;
}

.profile-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.75rem;
}

.lang-icon {
  display: flex;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}

.profile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  gap: 0.25rem;
  color: var(--font-grey);
  border: 1px solid var(--grey);
  padding: 0.5rem;
  border-radius: 2rem;
}

#basic-button {
  border-radius: 2rem;
  box-shadow: 0 1px 2px rgb(0 0 0 / 12%), 0 4px 12px rgb(0 0 0 / 9%);
}

#basic-button:hover {
  box-shadow: 0 1px 2px rgb(0 0 0 / 12%), 0 4px 12px rgb(0 0 0 / 9%);
  transition: all 0.2s;
  cursor: pointer;
}

.line-menu {
  height: 1px;
  background-color: var(--grey);
  width: 100%;
}

.basic-menu {
  border-radius: 2rem !important;
  padding: 0.5rem 1rem !important;
  font-size: 0.8rem;
  color: var(--font-grey);
}

.MuiMenu-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.bar {
  width: 650px;
  background: white;
  box-shadow: 0 0 5px hsl(0 0% 78%);
  height: 55px;
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  font-size: 0.6rem;
}

.bar div {
  border-radius: inherit;
  padding: 0.8rem 1.5rem;
  transition: background 250ms ease;
}

.bar div:hover {
  background: hsl(0 0% 94%);
}

.location {
  width: 34%;
}

.check-in,
.check-out,
.guests {
  width: 22%;
}

.input-search {
  background: none;
  border: none;
  font-size: 1rem;
  width: 10rem;
}

.input-search::placeholder {
  font-size: 1rem;
}

.input-search:focus {
  outline: none;
}

.guests {
  position: relative;
}
.guests span {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: #ff385c;
  color: white;
  font-size: 0.8rem;
  padding: 0.7rem;
  border-radius: 50%;
}
